
<div id="card" #card class="card" style="margin-block: 30px;width: 45rem; box-shadow: 5px 10px 18px #888888; border-radius: 5px;">

    <div id="cardBody" #cardBody class="card-body" style="font-weight: 600 !important;">
            <h2 #titulo id="titulo" class="card-title">{{title |titlecase}} Overview </h2>
            <h6  #titulo id="titulo"class="card-subtitle mb-2">Volume {{ lastVolume | number}}</h6>
            <h6  #titulo id="titulo" id="diff" #diff class="card-subtitle mb-2">Close: {{ lastClose | number}} |  {{ differenceClose | number}} </h6>
    </div>
    
</div>

<!-- <div class="row">
    <div class="md-2">
        <h2 class="text-muted center-title ">{{title}} Overview </h2>
    </div> -->
    
<div class="md-4">
    <app-favorite-button></app-favorite-button>
</div>
   
<!-- </div> -->


<button routerLink="/line" 
            class="s-1 btn btn-outline-warning">
            <img [src]="'assets/images/graph.png'" alt="line" height="22" ></button>

<button routerLink="/candle" 
        class="s-1 btn btn-outline-warning">
        <img [src]="'assets/images/candlestick.svg'" alt="candle" height="22" ></button>

<button class="m-1 btn btn-outline-danger" (click)="refreshChartList('2m')">2m</button>
<button class="m-1 btn btn-outline-danger" (click)="refreshChartList('1d')">1D</button>
<button class="m-1 btn btn-outline-danger" (click)="refreshChartList('1wk')">1W</button>
<button class="m-1 btn btn-outline-danger" (click)="refreshChartList('1mo')">1M</button>

<!-- <div class="align-right">
    <app-favorite-button></app-favorite-button>
</div> -->
<!-- <div> -->
    
    <!-- <div style="width: 80%; padding:19px; height: 100%; float:left;"> -->
        <!-- <div #candleChart ></div> -->
        <!-- <div style="padding: 10px; margin-top: 25px; "> -->
            <!-- <app-analysis></app-analysis> -->
           
        <!-- </div> -->
    <!-- </div> -->
    <div class="row">
        <div #candleChart class="col-md-8" style="box-shadow: 5px 10px 18px #888888; border-radius: 5px;"></div>
        <!-- <div class="col-sm-6">
            <app-analysis></app-analysis>
        </div> -->
        <div class="col-sm-4">
            <app-comodities></app-comodities>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-sm-4">
            <app-analysis></app-analysis>
        </div>
        
    </div> -->
    
<!-- </div> -->



<br>
<br>

<!-- <div class="container align-right">
    
</div> -->
<!-- <div style="clear: both;">

</div> -->

<!-- <google-chart #chart
[title]="title"
[type]="type"
[data]="data"
[options]="options"
[width]="width"
[height]="height"
[columns]="columns">
 </google-chart>  -->
 <app-carousel></app-carousel>