
<!-- <button routerLink="w" class="m-1 btn-sm btn-light btn-outline-warning">W</button>
<button routerLink="m" class="m-1 btn-sm btn-light btn-outline-warning">M</button> -->


<button class="m-1 btn btn-light btn-outline-danger" (click)="refreshChartList('1d')">Day</button>
<button class="m-1 btn btn-light btn-outline-danger" (click)="refreshChartList('1wk')">Week</button>
<button class="m-1 btn btn-light btn-outline-danger" (click)="refreshChartList('1mo')">Month</button>

<div #candleChart style="width: 100%; height: 200%;"></div>


<!-- <google-chart #chart
[title]="title"
[type]="type"
[data]="data"
[options]="options"
[width]="width"
[height]="height"
[columns]="columns">
 </google-chart>  -->
