<ngb-carousel>
  <!-- Here we have the complete structure of Carousel. 
    We just iterate through it with JsonResponse and that's it!~ -->
    <ng-template ngbSlide *ngFor= "let item of noticias; index as i">
      <div class="picsum-img-wrapper"  >
        <img src= "{{noticias[i].urlToImage}}">
      </div>
      <div class="carousel-caption">
        <h3>{{ noticias[i].title }}</h3>
        <p>nani</p>
      </div>
      
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/jabami.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template> -->
  </ngb-carousel>