/* ngb-carousel {
    max-width: 100%;
    margin:10px;
} */

ngb-carousel img {
    /* width: 425px; */
    /* width: 750px; */
    width: 50%;
    height: 50%;
    /* width: 150%;
    height: 115px; */
    /* outline: none; */
    float: center;
}

/* ngb-carousel img {
    width: 150px;
    height: 125px;
    outline: none;
}
ngb-carousel {
    width:  50px;;
    height: 25px;
    margin: 5px;
    
} */

ngb-carousel {
    /* width:  150%;
    height: 120px;
    margin: 0px; */
    width:  100%;
    height: 100%;
    margin: 0px;
    background-color: black;
    /* float: center; */
    /* position:; */
    
}

/* ngb-carousel-slide */

.carousel-inner {
    overflow:scroll;
}

.carousel-item {
    /* display: flex !important; */
    /* display:table-column; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
    /* width: 550px;
    height: 550px; */
    /* width: 400px;
    height: 300px;
    float: center;
    position: absolute; */
    
 }  
.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}

.carousel-control-prev:hover{
    background: rgba(0, 0, 0, 0.7);
}
.carousel-control-next:hover{
    background: rgba(0, 0, 0, 0.7);
}

/* .carousel-caption{
    float: right;
} */


  /* .center {
    display: flex;
    justify-content:center;
  }  */

