<!-- <div  #some class="align-center" style="float:right; width: 425px; height: 200px;"> -->
  <ngb-carousel style="margin-left: 20%;" >
    <ng-template  class="carousel slide" ngbSlide *ngFor= "let item of noticias; index as i">
      <!-- estaba el margen en 7.5% -->
        <div class="picsum-img-wrapper" style="margin-left: 25%;">
          <img src= "{{noticias[i].urlToImage}}" >
          <div class="carousel-caption">
            <h3>{{ noticias[i].title }}</h3>
            <p>{{ noticias[i].description}}</p> 
          </div>

        </div>       
        
        <!-- <div class="picsum-img-wrapper">
          <img src= "{{noticias[i].urlToImage}}">
          </div>
       -->
      </ng-template>
   </ngb-carousel>




    <!-- <div style= "clear:inherit"></div> -->
      <!-- <ngb-carousel>
        <ng-template  class="carousel slide align-right" ngbSlide *ngFor= "let item of noticias; index as i" >
          <div class="picsum-img-wrapper" style="padding: 2.5px;" >
            <img src= "{{noticias[i].urlToImage}}">
            <ng-template #menor><img src="{{noticias[i].urlToImage}}"> </ng-template>
          </div>
          <div class="carousel-caption" >
            <h3>{{ noticias[i].title }}</h3>
            <p>{{ noticias[i].description}}</p>
          </div>
  
        </ng-template>
      </ngb-carousel> -->

      <!-- <div style= "clear:inherit"></div> -->
      <!-- <ngb-carousel>
        <ng-template  class="carousel slide" ngbSlide *ngFor= "let item of noticias; index as z">
          <div class="picsum-img-wrapper" style="padding: 2.5px;" >
            <img src= "{{noticias[z].urlToImage}}">
            <ng-template #menor><img src="{{noticias[i].urlToImage}}"> </ng-template>
          </div>
          <div class="carousel-caption">
            <h3>{{ noticias[z].title }}</h3>
            <p>{{ noticias[z].description}}</p>
          </div>
        </ng-template>
      </ngb-carousel> -->
 



<!-- 
<div class="container">
  
  <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">
    <div class="item">
      <img src="https://www.latercera.com/resizer/gn4B9D5xex3ifzWXK5P_l9gUyHk=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/GVMMUKVR2FHTTGXD54FBUT2O4U.jpg" alt="yugi">
    </div>
  </owl-carousel>

</div> -->


<!-- Top content -->
<!-- <div class="top-content">
  <div class="container-fluid">
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto" role="listbox">
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                  <img src="assets/images/card01.svg" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/images/card01.svg" class="img-fluid mx-auto d-block" alt="img2">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/images/card01.svg" class="img-fluid mx-auto d-block" alt="img3">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/images/card01.svg" class="img-fluid mx-auto d-block" alt="img4">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/images/jabami.jpg" class="img-fluid mx-auto d-block" alt="img5">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/images/jabami.jpg" class="img-fluid mx-auto d-block" alt="img6">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/images/jabami.jpg" class="img-fluid mx-auto d-block" alt="img7">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/images/jabami.jpg" class="img-fluid mx-auto d-block" alt="img8">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
</div> -->