<!-- <div  #some class="align-center" style="float:right; width: 425px; height: 200px;"> -->
  <!-- style="margin-left: 25%;" -->
  <!-- <ngb-carousel >
    <ng-template style="text-align: center;" class="carousel slide" ngbSlide *ngFor= "let item of noticias; index as i"> -->
      <!-- estaba el margen en 7.5% -->
      <!-- style="margin-left: 25%;" -->
        <!-- <div class="picsum-img-wrapper" style="text-align: center;" >
          <img width="100px" height="50px" src= "{{noticias[i].urlToImage}}" >
          <div class="carousel-caption">
            <h3>{{ noticias[i].title }}</h3>
            <p>{{ noticias[i].description}}</p> 
          </div>

        </div>       
      </ng-template>
   </ngb-carousel> -->



<!-- <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                  [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="row">
          <div class="col-md-3" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
               *ngFor="let card of cards let cardIndex = index">
            <mdb-card class="my-1">
              <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>{{card.title}}</h4>
                </mdb-card-title>
                <p>{{card.description}}</p>
                 <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel> -->

<!--     
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                  [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of Raww; let i = index">
        <div class="row">
          <div class="col-md-3" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
               *ngFor="let card of noticias; let cardIndex = index">
            <mdb-card class="my-1">
              <mdb-card-img [src]="card.urlToImage" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>{{card.title}}</h4>
                </mdb-card-title>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel> -->

    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                  [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="row">
          <div class="col-sm-3" [ngClass]="{'d-none d-sm-block': cardIndex !== 0}"
               *ngFor="let card of item; let cardIndex = index">
            <mdb-card class="my-1">
              <mdb-card-img [src]="card.urlToImage" alt="Card image cap" height="5600px" width="150px"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h6>{{card.title}}</h6>
                </mdb-card-title>
                <!-- <p>{{card.description}}</p> -->
                <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a> -->
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>