<table class="first left table table-bordered table-hover">
    <thead>
        <tr>
            <th>Commodities</th>
            <th>Current</th>
            <th>DF</th>
            <th>Percentage</th>
        </tr>
        </thead>
        <tbody>
            <tr>
              <td data-bs-toggle="tooltip" data-bs-placement="top" 
              title="GC"> Gold </td>  
              <td>{{gold[last]}}</td>
              <td>{{gold[last] - gold[last-1] | number}}</td>
              <td>{{((gold[last] - gold[last-1]) * gold[last])/100 | number}}</td>
            </tr>
            <tr>
                <!-- #Gold, Natural Gas, Silver, Crude Oil, Cocoa v  -->
                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                title="NG"> Natural Gas </td>
                <td>{{naturalGas[last] - naturalGas[last-1] | number}}</td>
                <td>{{naturalGas[last]}}</td>
                <td>{{((naturalGas[last] - naturalGas[last-1]) * naturalGas[last])/100 | number}}</td>
            </tr>
            <tr>
                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                title="SI"> Silver </td>
                <td>{{silver[last]}}</td>
                <td>{{silver[last] - silver[last-1] | number}}</td>
                <td>{{((silver[last] - silver[last-1]) * silver[last])/100 | number}}</td>
            </tr>
            <tr>
                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                title= "CL">Crude Oil</td>
                <td>{{crudeOil[last]}}</td>
                <td>{{crudeOil[last] - crudeOil[last-1] | number}}</td>
                <td>{{((crudeOil[last] - crudeOil[last-1]) * crudeOil[last])/100 | number}}</td>
            </tr>
            <tr>
                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                title= "CC">Cocoa</td>
                <td>{{cocoa[last]}}</td>
                <td>{{cocoa[last] - cocoa[last-1] | number}}</td>
                <td>{{((cocoa[last] - cocoa[last-1]) * cocoa[last])/100 | number}}</td>
            </tr>
        </tbody>
</table>