<!-- <div class="container">
    <div class="custom-card">
        <div class="form-group">
            <button class="btn btn-block google-sign-in" (click)="signInHandle()">
                <img [src]="'assets/images/google.svg'" alt="google">
                <span>Continue with Google</span>
            </button>
        </div>
</div> -->

<li class="nav-item">
    <a class="nav-link waves-light d-inline-block align-top" (click)="signInHandle()" mdbWavesEffect>
        <img [src]="'assets/images/google.svg'" alt="google" height="22" >
    </a>
</li>