<h2>Tecnichal Indicators</h2>
<table class="first left table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td> RSI </td>
            <td> {{ dataAnalisis.rsi }}  </td>
            <td> {{ rsiState }} </td>
        </tr>
        <tr>
            <td> ADX </td>
            <td> {{ dataAnalisis.adx }} </td>
            <td class="left textNum bold"> 
                <span class="bold"> {{ adxState }} </span>
            </td>
        </tr>
        <tr>
            <td>Stochastic Oscillator</td>
            <td> {{ dataAnalisis.stOscillator}}</td>
            <td> {{ stoOsState }} </td>
        </tr>
        <tr>
            <td>Avg True Range</td>
            <td>{{ dataAnalisis.AvgTrueRange }}</td>
            <td>{{ avgTrueState }}</td>
        </tr>
    </tbody>
</table>