  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="align-top" href="/candle">
      <img [src]="'assets/images/amdocs.png'" height="60" alt="">
  </a>
    <!-- <a class="navbar-brand" href="#">Navbar scroll</a> -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analisis">Tenichal Analysis</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown">
            Tools
          </a>
          
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/analisis">Tenichal Analysis</a></li>
            <li><a class="dropdown-item" href="#">Coming Soon!</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Coming Soon!</a></li>
          </ul>
        </li> -->
        
        <li class="nav-item mt-3 h-25 d-inline-block">
          <!-- <a class="nav-link disabled">Link</a> -->
          <app-search></app-search>
        </li>
      </ul>
      <form class="d-flex" style="cursor: pointer">
        <app-login></app-login>
      </form>

        <li class="nav-item dropdown d-inline-block" dropdown>
          <a dropdownToggle mdbWavesEffect
            class="nav-link dropdown-toggle align-items-center"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            mdbWavesEffect>
            <img
            [src]="userDetails?.photoUrl"
              class="rounded-circle"
              height="27"
              alt=""
              loading="lazy"
            />
            {{userDetails?.name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/dashboard">My Portfolio</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="signOut()">Logout</a>
            </li>
          </ul>
        </li>
    </div>
  </div>
</nav>
<!-- <app-carousel></app-carousel> -->

<div class="container">

 <!-- <app-carousel></app-carousel> -->
    <button routerLink="line" 
            class="m-1 btn btn-light btn-outline-warning">
            <img [src]="'assets/images/graph.png'" alt="line" height="22" ></button>

    <button routerLink="candle" 
            class="m-1 btn btn-light btn-outline-warning">
            <img [src]="'assets/images/candlestick.svg'" alt="candle" height="22" ></button>
        
    <br>
    
    <router-outlet></router-outlet>
    <br>
    <br>
    
</div>
<div align="right">
  <!-- <app-comodities></app-comodities> -->
</div>

<br>
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>



