<h2>Hello {{userDetails?.firstName}}</h2>
<!-- <div class="container-fluid"> -->
  <!-- <div class="custom-card"> -->
    <!-- <div class="text-center mb-4"> -->
      <img [src]="userDetails?.photoUrl" alt="user-avatar" class="user-avatar"/>
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
<h5>Add elements to your Portfolio:</h5>
<input type="text" 
class="form-control" 
placeholder="Search Ticket..."
(keyup.enter)= "buscar()"
#txtBuscar 
>

<br>

<table class="table table-dark table-sm">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Options</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor= "let item of Keys; index as i">
        <!-- <td>{{Keys[i]}}</td> -->
        <td>{{ values_ticker[i] }}</td>
        <td>{{ values_open[i] }}</td>        
        <td>{{ values_high[i] }}</td>        
        <td>{{ values_low[i] }}</td>        
        <td>{{ values_close[i] }}</td>        
        <td align="center">
          <button type="button" class="btn btn-light mr-1 btn-sm" (click)="delete(values_ticker[i])">
            <svg xmlns="http://www.w3.org/2000/svg" 
                width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </td>        
      </tr>
      <!-- <tr *ngFor= "let key of ChartList">
        <td> {{ChartList[key]["High"]}}</td>
      </tr>  -->
    </tbody>
</table>
<!-- <div class="container-fluid">

    <div class="custom-card">
  
      <div class="text-center mb-4">
        <img [src]="userDetails?.photoUrl" alt="user-avatar" class="user-avatar"/>
      </div>
  
      <p class="mb-2">
        <span class="font-weight-bold">Name: </span>{{userDetails?.name}}
      </p>
  
      <p class="mb-2">
        <span class="font-weight-bold">Email: </span>{{userDetails?.email}}
      </p>
  
      <button class="btn btn-block btn-danger mt-4" (click)="signOut()">Sign out</button>
  
    </div>
  
  </div> -->


  