<!-- <div class="container-xl"> -->
    <!-- <div class="form-group"> -->
      <input type="text" class="form-control mr-sm-2" placeholder="Search Ticket..."
      [(ngModel)]="filterTerm" (keyup.enter)="buscar()" (keyup)="applyFilter()"  #txtBuscar>
      <div class="container-xl">
        <!-- <ul class="list-group"> -->
        <ul class="list-group">
            <tr *ngFor="let ticker of stocksRecords" >
             <!-- <a>  {{(user + '').split(",")[1]}}</a> -->
             <a class="list-group-item"
             style="cursor: pointer"
             (click)="save(ticker)" > 
                {{ ticker }}</a>
            </tr>
        </ul>
      <!-- </div> -->
